#header-background {
  position: absolute;
  width: 1800px;
  height: 100%;
  background: url(images/header-background.png);
  z-index: -1;
  background-repeat: no-repeat;
  padding-left: -10px;
  background-color: #000000;
}

.header {
  width: 100%;
  margin: 10px;
}

div.navbar{
  margin: 50px;
}

hr.navline {
  width: 315px;
  text-align: left;
  margin-left: 0px;
  margin-top: 30px;
}

img.logo {
  width:50px;
  float: left;
}

body {
  background-color: transparent;
}

h1.OUmainTop {
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 100px;
  padding-bottom: 0px;
  padding-left: 35px;
  border-bottom: 10px;
  margin-bottom: 10px;
  margin-top:100px;
}

h1.OUmainBottom {
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 100px;
  padding-bottom: 0px;
  padding-left: 35px;
  border-bottom: 10px;
  margin-bottom: 10px;
  margin-top:0px;
}

h2.OUmain {
  text-align: left;
  color: white;
  font-family: sans-serif;
  padding-left: 40px;
  padding-top: -10px;
}

ul.navList {
  list-style-type:none;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  overflow: hidden;
}

li {
  float: left;
  display: inline
}

li a {
  display: block;
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar li a:hover {
	color: #DA603F;
}

div.headertext {
  float: left;
  width: 100%;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 65px;
	background-color: #262839;

}

div.footer-text {
	text-align: center;
	float: right;
	color: white;
    font-family: sans-serif;
	font-size: 15px;
	padding-right:30px;
	padding-top: 7px;
}
div.social {
	text-align: center;
	float:left;
	padding-top: 20px;
	padding-left: 30px;
}

.filter-white{
	filter: invert(100%)
}

.filter-white:hover {
	filter: invert(54%) sepia(21%) saturate(4415%) hue-rotate(333deg) brightness(88%) contrast(92%);
}

.social-icon {
	padding: 7px;
}

.newsletter {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justufy-content: space-between;
	width: 100%;
}
.contact {
	overflow:visible;
	float: left;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-end;
	justufy-content: space-between;
	padding-left: 45px;
	padding-top: 50px;
}

input.fluid {
	overflow: visible;
	z-index: 10;
	float: left;
	padding: 10px;
	padding-left: 20px;
	margin-right: 20px;
	margin-left: 0px;
	margin-top: 20px;
	box-shadow: 0 5px 12px -2px rgba(0,0,0,0.6);
	border-radius: 20px;
	border-top-left-radius: 0px;
	border: 0px;
	font-size: 15px;
}

#nl-first-name {
	width: 100px;
}

#nl-last-name {
	width: 100px;
}

#requiredEmail {
	width: 200px;
}

.contactLabel {
	position: absolute;
	color: #DA603F;
	font-family: sans-serif;
	font-size: 15px;
}

.contactButton {
	appearance: none;
    display: inline-block;
	padding:10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #DA603F;
	color: #fff;
	border: none;
	border-radius: 20px;
	border-top-left-radius: 0px;
	font-size: 15px;
	box-shadow: 0 5px 12px -2px rgba(0,0,0,0.6);
}

.contactButton:hover {
	background-color: #B6B8CE;
	color: #DA603F;
}

.joinNewsletter {
	color: #B6B8CE;
	font-family: sans-serif;
	padding-bottom: 20px
}

.aboutM {
	width: 200px;
	display:block;
	text-align: center;
	margin: 0 auto;
}

.imageCrop {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	text-align: center;
}

.profilePic{
	height:100%;
	width:auto;
	margin: 0 auto;
	margin-left:-16%;
}

.aboutMe {
}

.introduction {
	padding-top: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	white-space: wrap;
	float: left;
	display: inline-block;
}

.openerText {
	color: white;
	font-family: sans-serif;
	float:left;
	margin-top:-5px;
	margin-bottom:-5px
}


.aboutMeList li{
	display:list-item;
	color:white;
	font-family: sans-serif;
	list-style: disc outside none;
	padding: 5px 0;
	font-size: 15px;
	white-space: wrap;
	clear:both;
}

.readList li{
	display:list-item;
	float: left;
	color:white;
	font-family: sans-serif;
	list-style: disc outside none;
	padding: 5px 0;
	font-size: 15px;
	white-space: nowrap;
	clear:both;
}

.doubleColumns {
	float:left;
	height: 50%;
	margin: 0 200px;
	align-content: center;
}

.leftColumn {
	float:left;
	width: 44.89%;
	padding: 0 2em;
}

.rightColumn {
	float:left;
	width: 44.89%;
	padding: 0 2em;
	margin:0 -1px;
}

#rightHeader {
	padding-top: 0px;
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	white-space: wrap;
	clear:both;
}

.linkHighlight {
	background-color: rgba(242,198,186,0.30);
	display: inline-block;
	padding: 2px 4px;
	color: white;
	clear:both;
	border-radius: 4px;
}
.linkHighlight:hover {
	background-color: #B6B8CE;
	padding: 2px 4px;
	color: white;
	border-radius: 4px;
}

.contactText {
	color: white;
	margin-top:-10px;
	font-family: sans-serif;
	float:left;
}

.requiredStar {
	color: white;
}
